.event-list-item {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid #ffafbd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.event-list-item h1 {
  margin: 0;
  font-size: 1.5rem;
  color: #ffafbd;
}

.event-list-item h2 {
  margin: 0;
  font-size: 1.5rem;
  color: #8c7ae6;
}

.event-list-item p {
  margin: 0;
}